.myButton {
    color: red;
    background-color: greenyellow;
    border-radius: 20%;
    border-color: blue;
    margin: 10px;
    margin-left: 20px;

}

.mySpan {
    color: darkblue;
    background-color: aqua;
}